
.hero{
    position: relative;
    height: 55vh;
}
.hero-header{
   
    background: url('../resources/images/hero.jpg') no-repeat center center;
    background-size: cover;
    color: aliceblue;
    height: 55vh;
}

.hero-overlay{
    position: absolute;
    z-index: 99;
    top: 40vh;
    left: 0;
    right: 0;
    bottom: -10vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}
@media(min-width: 700px){
    .hero-overlay{
        margin-left: 8rem;
        margin-right: 8rem;
    }
}


.overlay-content{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}